body {
  background-color: powderblue;
}

img {
  border-radius: 10px 100px / 120px;
  width: 150px;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3px;
  height: 0px;
  width: 5%;
}

h1{
  color: #0fabbc;
}

h3{

  color: #0fabbc;
}
